/* large-screen */
@media(max-width:1224px){
    #testimonials{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    .testimonial-1{
        grid-column: 1/7;
    }
    
    .testimonial-2{
        grid-column:7/12;
        grid-row:2/2;
    }
    
    .testimonial-3{
        grid-column:1/7;
    }
    
    .testimonial-4{
       
        grid-column: 7/12;
        grid-row: 1/2;
    }
    
    .testimonial-5{
        grid-column: 1/12;
        grid-row: auto;
    }

}

